<div class="nav nav-pills">
<li <%= activeClassIfModel( "Style" )%>><%= link_to "Стили", '/styles/new' %></li>
<li <%= activeClassIfModel( "Budget" )%>><%= link_to "Бюджеты", '/budgets/new' %></li>   
</div> 
