<div class="hl hl_a bd">Редактирование поставщика (Общие данные)
<%= link_to "", @provider, method: :delete, data: { confirm: 'Действительно удалить поставщика?' }, :class=>"icon icon_remove right" %>
</div>

<%= render 'form' %>
