<h1>CRM pp</h1>

<p>Привет, <%= @user.name %>,</p>

<p>
Дла активации аккаунта перейдите по ссылке ниже:
</p>

<%= link_to "Активировать", edit_account_activation_url(@user.activation_token, 
                                                    email: @user.email) %>
