<li class="item new" commentid="{{id}}" id="comment_{{id}}"> 
  <div class="pic"><img src="{{avatar}}" alt="{{username}}"></div>

  <div class="cont">
    <div class="head">
      <div class="name"> {{username}} </div>
      <div class="info"> {{created_at}} </div>
      <div class="date">
        {{#admin}}
        <a data-confirm="Удалить комментарий?" class="icon icon_remove_1 btn_remove" data-remote="true" rel="nofollow" data-method="delete" href="/comments/{{id}}"></a>
        {{/admin}}
      </div>
    </div>
  </div>
  <div class="text" ownerid={{ownerid}}>
    <span>{{comment}}</span>
  </div>      
</li>