<li class="item new" commentid="{{id}}" id="comment_{{id}}"> 
  <div class="pic">{{avatar}}</div>
  <div class="cont">
    <div class="head">
      <div class="name"> {{user_name}} </div>
      <div class="info"> {{created_at}} </div>
      <div class="date">
      </div>
    </div>
  </div>
  <div class="text" ownerid={{owner_id}}>
    <span>{{body}}</span>
  </div>      
</li>