<% if @two_columns %>

<div class="left">
<%= render 'table' %>
</div>
<div class="right">
  <%= content_tag :div, "", id: "leads_chart", leads: @leads_count[:json].to_json, headers: @leads_count[:headers].to_s, element: @leads_count[:element], class: "graph", style: "position: relative; width:580px;" %>
</div>
<% else %>

<%= render 'table' %>
<div>
<%= content_tag :div, "", id: "leads_chart", leads: @leads_count[:json].to_json, headers: @leads_count[:headers].to_s, element: @leads_count[:element], class: "graph", style: "position: relative; width:1200px;" %>
</div>
<% end %>