<% if @two_columns %>

  <div class="panel-left">
    <%= render 'table' %>
  </div>

  <div class="panel-right">
    <%= content_tag :div, 
        "", 
        id: "leads_chart", 
        leads: @chart_data[:json].to_json, 
        headers: @chart_data[:headers].to_s, 
        element: @chart_data[:element], 
        class: "graph", 
        style: "position: relative; width:580px;" %>
  </div>

<% else %>

  <%= render 'table' %>

  <div>
    <%= content_tag :div, 
      "", 
      id: "leads_chart", 
      leads: @chart_data[:json].to_json, 
      headers: @chart_data[:headers].to_s, 
      element: @chart_data[:element], 
      class: "graph", 
      style: "position: relative; width:1200px;" %>
  </div>

<% end %>