<% @files.each_with_index do |file,i| %>
<div class="item <%= i.odd? ? 'odd':'' %>">
	<div class="fname">
		<%= file_default_action(file) %>
	</div>
	<div class="tools">		
		<a href="<%= file.download_path(@owner) %>" target="_blank" class="icon icon_download"></a>
		<span file_id=<%= file.id %> class="icon icon_remove_1"></span> </td>
	</div>
</div>
<% end %>
