<h3>Пользователь "<%= find_version_author_name(@version) %>" изменил задачу:</h3>

<% puts @version.to_s %>

<p>Изменения в задаче <b><%= @dev.name  %></b>:</p>

  <%- @history.each do |version_fields| %>
  <%- version = version_fields[1] %>
	<%- version['description'].each do |descr| %>
	       <li><%= raw(descr) %></li>
        <% end %>
    </ul>
  <% end %>
