<h1>Сброс пароля</h1>

<p>Такие вот изменения:</p>

<% @history = get_last_history_item(@dev) %>

  <%- @history.each do |version_fields| %>

  <%- version = version_fields[1] %>
	<%- version['description'].each do |descr| %>
	       <li><%= raw(descr) %></li>
        <% end %>
    </ul>

  <% end %>



<p>
Если 
</p>
