<% if is_admin? %>
<div class="hl hl_a bd">Редактирование клиента

<%= link_to "", @client, method: :delete, data: { confirm: 'Действительно удалить клиента?' }, :class=>"icon icon_remove right" %>
</div>

<%= render 'form' %>

<% end %>