<div class="hl hl_a bd">Редактирование клиента</div>
<% if is_admin? %>
<% # link_to "", @client, method: :delete, data: { confirm: 'Действительно удалить клиента?' }, class: "icon icon_remove right" %>
  <%= render 'form' %>
<% end %> 