
<% if first_table == false %>
             </tbody></table></div>
          <% end %>
          <% first_table = false %>
          <div class="panel panel-default">
          <div class="panel-heading table-heading month"> <%= heading %></div>
          <table class="tableSorter tleads">
             <thead>
    <tr>
      <th width="10%">Статус</th>
      <th width="14%">Дата для статуса</th>
      <th width="15%">ФИО</th>
      <th width="10%">Телефон</th>
      
      <th width="35%">Информация о запросе</th>
      <th width="7%" class="center">Метраж</th>
      <th class="center">Дата</th>
      <th class="edit_delete"></th>
    </tr>
  </thead>

          <tbody>

