
<% if first_table == false %>
             </tbody></table></div>
          <% end %>
          <% first_table = false %>
          <div class="panel panel-default">
          <div class="panel-heading table-heading head month"> <%= heading %></div>
          <table class="tleads ">
             <thead>
    <tr>
      <th width="180px">Статус</th>
      <th width="100px">Дата статуса</th>
      <th width="140px">ФИО</th>
      <th width="120px">Телефон</th>
      
      <th >Информация о запросе</th>
      <th width="7%" class="center">Метраж</th>
      <th class="center" width="9%">Дата</th>
      <th class="edit_delete"></th>
    </tr>
  </thead>

          <tbody>

