.subnav
  = hidden_field_tag :cur_method, controller.action_name, {controller: controller.controller_name}
  = sortable_pil "status_date", "По приоритету"
  = sortable_pil "start_date", "По месяцам"
  - if is_admin?
    = sortable_pil "ic_users.name", "По ответственным", 'asc'
    = sortable_pil "users.name", "По создателям", 'asc'
  = sortable_pil "status_id", "По статусам"
  / = chosen_src 'year', @years, params[:year], {class: 'ychosen', nil_value: 'Год'}
  = chosen_src 'priority_id', @priorities, params[:priority_id], {class: 'pchosen', nil_value: 'Приоритет...'}
  = link_to 'Добавить', new_lead_path, class: "btn_a btn-add btn_slim right space20"
  = only_actual_btn
  - multi_edit_icon
