<div class="hl hl_a bd">Просмотр и редактирование лида</div>

<div class="box_wrap box_wrap_1">

 <%= render 'form' %>

  <div class="right">
    <div class="comments_box">
      <%= render "comments" %>
    </div>
  </div>

</div>

  <div class="sep_3"></div>

  <div class="box_wide">
  <div class="box_wrap box_wrap_1">

    <div class="left lead_files">  
      <%= render "lead_files" %>
    </div>
    <div class="right">
      <%= render "history" %>    
    </div>

  </div>
  </div>  
  </div>
</div>

  <div class="sep_3"></div>