<div class="hl hl_a bd">Редактирование лида</div>

<div class="box_wrap box_wrap_1">

 <%= render 'form' %>

  <div class="right">
    <div class="comments_box">
      <%= render "comments" %>
    </div>
  </div>

</div>

  <div class="sep_3"></div>
    <%= render "lead_files" %>
  </div>

</div>