<div class="box_wrap box_wrap_1">

<div class="items_box_head">
<%= form_tag pages_path, :method =>'get', :id => "stats_page" do %>
<label class="combobox">
   <%= select_tag "page_type", options_for_select(Lead.chart_types.collect {|p| [ p['name'], p['id'] ] }, @page_type) %>
</label>
<% end %>
</div>

<div id='charts_data'>
<%= render "charts_table" %>
</div>

</div>



