<div class="panel panel-default good_group" v-for="(item, key, index) in goods">
  <div class="panel-heading table-heading head month"> 
    {{gtypes.filter(word => word.value === parseInt(key))[0].label}}  
    <span class="sub btn_add right" @click="switchOpened(index)" v-show="!controls[index].opened">Добавить позицию</span></div>
  
    <div class="grid_table_goods grid_table_head">
      <template class="goods_head">
        <div>Позиция</div>
        <div>Поставщик</div>
        <div>Дата</div>
        <div>Примечание</div>
        <div>Валюта</div>
        <div>Стоимость</div>
        <div></div>
      </template>
    </div>

    <transition-group name="item">
    <template v-for="(g, ind) in item">
      <div class="grid_table_goods grid_table sw_color" :id="'item_'+g.id" :key="g.id">    
          <div>{{g.name}}</div>
          <div>{{g.provider_name}}</div>
          <div>{{format_date(g.date_place)}}</div>
          <div>{{g.description}}</div>
          <div>{{g.currency_name}}</div>
          <div v-html="allAmount(g)"></div>
          <div class="edit_delete td_right " style="">
            <a class="icon basket td_right" data-modal="true" :href="goodsEditLink(g)"></a>
            <span class="icon icon_del" @click="deleteGoods(key, index)"></span> </div>
      </div>
    </template>
    </transition-group>

    <div class="grid_table_goods grid_table_new_item editable new_row" :id="'new_item_'+key" v-show="controls[index].opened">

    <input :value="key" type="hidden" :name="'project_good_'+key+'_[goodstype_id]'" :id="'project_good_'+key+'_goodstype_id'">
    <input :value="key" type="hidden" :name="'project_good_'+key+'_[owner_id]'" :id="'project_good_'+key+'_owner_id'">
    <div class="fw">     
      <input type="text" 
            :name="'project_good_'+key+'_[name]'" 
            :id="'project_good_'+key+'_name'"
            v-model="fields[index].name"             
            class="txt" 
            autofocus 
            @input="onChange(key, index)">
    </div>
    <div>
      <v-chosen name="provider" 
                src="providers"
                from_array="true"
                :k="key" 
                :index="index" 
                placeholder="Выберите поставщика..."/>
    </div>
    <div class="caption3">
      <input type="text" 
             class="txt datepicker hasDatepicker"
             v-model="fields[index].date_place"
            @change="input(key, index)">
    </div>
    <div class="caption3">
      <input type="text" 
            v-model="fields[index].description"  
            class="txt fullwidth"
            @input="onChange(key, index)">
    </div>
    <div>
      <v-chosen name="currency" 
                src="currencies" 
                :owner="'project_good_'+key+'_'" 
                :k="key" 
                :index="index" 
                placeholder="Валюта..."/>
    </div>
    <div>
      <input type="text" 
            v-model="fields[index].gsum" 
            @input="onChange(key, index)"
            @keyup.enter="saveGoods(key,index)"
             class="txt right" style="width: 100%;">
    </div>
    <div>
      <span class="sub btn btn_save" 
            :pe_id="key" action='/project_goods/' 
            :id="'btn_save_'+key+'_'"
            :prm="'project_good_'+key+'_'"
            @click="saveGoods(key,index)"
            :disabled="!controls[index].valid">Сохр.</span></div>
    </div>

    <div class="table_2col table_footer">
      <div>Итого предложено: <span>{{calculateAmount(key, index)}}</span></div>
      <div>Итого заказано: <span>{{formatTotal(orderAmount[key])}}</span></div>      
    </div>
</div>
<transition name="appear">
  <confirmation-modal v-if='confirmModal'></confirmation-modal>
</transition>


