<div class="panel panel-default good_group" v-for="(item, key, index) in goods">
  <div class="panel-heading table-heading head month"> 
    {{gtypes.filter(word => word.value === parseInt(key))[0].label}} 
    <span class="sub btn_add right">Добавить позицию</span></div>
     
    <table class="tleads twfixed"  model="ProjectGood" action="project_goods" color_cls="ordered">
    <thead class="opened">
      <tr>
        <th width='220px'>Позиция</th>
        <th width='216px'>Поставщик</th>
        <th width='115px'>Дата</th>
        <th width='230px'>Примечание</th>
        <th width='58px'>Валюта</th>
        <th width='90px' fld='gsum' >Стоимость</th>
        <th width='48px'></th>
      </tr>
    </thead>
    <tbody>
    <template v-for="(g, index) in item">
      <tr :id="g.id" class="sw_color" >
        <td width='220px'>{{g.name}}</td>
        <td width='210px'>{{g.provider_name}}</td>
        <td width='115px'>{{g.date_place === null ? '' : g.date_place.split('-').reverse().join('.') }}</td>
        <td width='230px'>{{g.description}}</td>
        <td width='58px'>{{g.currency_id}}</td>
        <td width='90px' :class="g.currency_id">{{g.gsum}}</td>

        <td class="edit_delete td_right " style="">
          <a class="icon basket" data-modal="true" :href="g_href(g)"></a>
          <a data-confirm="Действительно удалить?" class="icon icon_remove " 
          data-remote="true" rel="nofollow" 
          data-method="delete" :href="g_del_ref(g)"></a>
        </td>
      </tr>
    </template>
    <tr class="total">
      <td colspan="3">Итого предложено: <span>{{fOfferAmount(key)}}</span></td>
      <td colspan="4">Итого заказано: <span></span></td>      
    </tr>
    </tbody></table>
</div>

