<script>
  Vue.component('v-select', VueSelect.VueSelect)

  let app = new Vue({
    el: '.vue_app',
    data: <%= fill_vue_data(@project, {
      f_gt: true,
      project_id: @project.id,
      confirmModal: false,
      currentIndex: 0,
      currentGoods: '',
      
      inputs: ['name', 'date_place', 'gsum', 'description'],
      required: ['name', 'date_place', 'gsum'],

      selects: ['provider', 'currency'],
      
      fields: [],
      controls: [],
      provider: [],
      
      offerAmount: {},
      orderAmount: {},
      closedAmount: {},

      filter: [],
      
      grandOfferTotal: [],
      grandOrderTotal: [],
      grandClosedTotal: [],
      grouped: [],
      
      texts: "gtype new_gtype id",
      lists: "gtypes new_gtypes currencies+short goods_priorities goods_states:raw@goods_states",

      providers: @providers,
      project_g_types: [],

      goods: @goods
     }, 'page4') %>,

    updated(){
      this.onInput();
    },

    created(){
      this.gtypes.forEach(()=>this.addControlAndField())
      this.calculateTotal()
      this.$root.$on('onInput', this.onInput);
      this.filter.push({field: 'goods_priority_id', value: 1})
      this.makeFilter()
    },

    mounted(){
      this.$root.$on('modalYes', this.modalYes);
      document.body.addEventListener('keyup', e => {if (e.keyCode === 45) {this.addRow();} });
    },

    methods: {

      makeFilter(){
        var vm = this
        this.filter = []

        if (!v_nil(this.goods_state)) {
          switch(this.goods_state.value){
            case 3: 
              this.filter.push({field: 'fixed', value: true})
              break;
            case 2: 
              this.filter.push({field: 'order', value: true})
              this.filter.push({field: 'fixed', value: false})
              break;
            default:
              this.filter.push({field: 'order', value: false})
          }
        }

        for (i = 0; i < this.goods.length; ++i) { 
           let filtered = this.goods[i][1].filter(function (item) {
            for (q in vm.filter) {
              let f = vm.filter[q]
              if (item[f.field] !== f.value) return false
            }
            return true
          })

          grouped = _.groupBy(filtered, 'goods_priority_id')
          Vue.set(this.grouped, i, grouped);
        }

      },

      toolTip(g){
        let toolTip = ''
        if (!v_nil(g.date_place)) toolTip = 'Дата предложения: ' + format_date(g.date_place) + '\n'
        if (!v_nil(g.date_offer)) toolTip = toolTip + 'Дата заказа: ' + format_date(g.date_offer) + '\n'
        if (!v_nil(g.date_supply)) toolTip = toolTip + 'Дата поставки: ' + format_date(g.date_supply) + '\n'

        return toolTip
      },

      getProviderIndex(i, id){
        let ind = this.providers.filter(w => w.gt.id === toInt(i))
        return this.providers.indexOf(ind[0])
      },

      gtypeName(gt_id){
        gt = this.gtypes.filter(w => w.value === parseInt(gt_id))
        let name = gt.length>0 ? gt[0].label : 'Ошибка'
        return name
      },

      addControlAndField(){
        let h = {providers: null, gsum: 0}
        this.inputs.forEach( c => h[c] = '' );
        h.date_place = format_date();
        this.fields.push(h);
        this.controls.push({opened: false, openedAlt: false, valid: false});
      },

      addGoodsType(){
        if (!v_nil(this.new_gtype)){
          let new_gt = this.new_gtype.value
          $.ajax({
            type: "GET",
            url: "/goodstypes/"+new_gt+"/providers.json",
            dataType: "json",
            encode: true
          }).done(function(data) {
            NProgress.done();
            let new_gt = app.new_gtype.value
            // console.log("data", data)
            app.providers.unshift({gt: {id: new_gt, name: app.new_gtype.label }, list: data})
            app.goods.unshift([[app.new_gtype.value, app.new_gtype.label], new Array()])
            app.gtypes.unshift(app.new_gtype)
            app.new_gtypes.splice(app.new_gtypes.indexOf(app.new_gtype), 1)          
            app.new_gtype = null 
            app.addControlAndField()
            app.makeFilter()
          });
        }
      },

      saveGoods(key, index, g){
        if (!this.controls[index].valid) return;
        this.controls[index].valid = false
        this.currentIndex = index
        
        // console.log("this.currentIndex", this.currentIndex)
        let goods_priority_id = v_nil(app.goods_priority) ? 1 : app.goods_priority.value

        let pref = 'goods_'+key+'_';        
        let values = {currency_id: app['currency_'+key].value, 
                      project_id: this.id, 
                      goodstype_id: key, 
                      goods_priority_id: goods_priority_id}

        this.inputs.forEach(  c => values[c] = this.fields[index][c] );
        this.selects.forEach( c => values[c+'_id'] = app[c+'_'+key].value );

        $.ajax({
          type: "POST",
          url: "/project_goods/",
          data: {gt: values},
          dataType: "json",
          encode: true
        }).done(function(data) {
          NProgress.done();
          app.switchOpened(index);
          values['id'] = data.id;
          app.goods[index][1].push(values);
          app.selects.forEach( c => values[c+'_name'] = app[c+'_'+key].label );
          app.inputs.forEach( c => app.fields[index][c] = '' );
          app.fields[index].date_place = format_date();
          app.makeFilter()
          app.calculateAmount(index);
        });

      },

      clearFields(){
        
      },

      deleteGoods(index, goods){
        this.currentGoods = goods;
        this.currentIndex = index;
        this.confirmModal = true;
      },

      modalYes(){
        if (this.currentGoods === '' || !this.confirmModal ) return;
        let index = this.goods[this.currentIndex][1].indexOf(this.currentGoods);
        if (index < 0) return;
        this.goods[this.currentIndex][1].splice(index, 1);
        delete_item('/project_goods/'+this.currentGoods.id);
        this.makeFilter()
      },


      onChange(key, index){
        let valid = true;
        if (key === undefined) return;

        this.required.forEach( c => {if (v_nil(this.fields[index][c])) valid = false} );
        this.selects.forEach( c => {if (v_nil(app[c+'_'+key])) valid = false} );
        this.controls[index].valid = valid;  
        // console.log("onChange");
      },

      onInput(e){
        if (e === undefined) return;

        if (e.name === 'goods_priority' || e.name === 'goods_state') {
          this.makeFilter();
          return;
        }

        if (e.index === undefined) return;
        this.onChange(e.key, e.index);
      },

      addRow(){
        console.log('#newGoods_'+this.currentIndex)
        setTimeout(()=>{$('#newGoods_'+this.currentIndex).click();},200);
        setTimeout(()=>{$('#upd_modal_name').focus();}, 400);
      },

      switchOpened(index, id){
        this.currentIndex = index
        this.controls[index].opened = !this.controls[index].opened
        if (id === undefined) id = this.goods[index][0][0]
        setTimeout(()=>{$('#goods_'+id+"_name").focus(); apply_mask();}, 300);
      },

      switchOpenAlt(index){
        this.controls[index].openedAlt = !this.controls[index].openedAlt
      },

      openedOrHaveData(index, items){
        let closed = this.closedTable(index)
        if (items === undefined) return !closed;
        return this.closedTable(index) || length>0; 
      },

      closedTable(index){
        if (this.controls[index] === undefined) {
          this.controls.push({opened: true, openedAlt: false, valid: false})
        }
        return !this.controls[index].opened;
      },

      openedAlt(index){
        return this.controls[index].openedAlt;
      },  

      altCount(g){
        if (g === undefined ) return 0;
        return g.length;
      },


      format_date(date){
        return format_date(date);
      },

      v_nil(v){
        return v_nil(v);
      },

      formatTotal(amountArray){
        let string = ""
        if (amountArray === undefined) return ""
        this.currencies.forEach( c => {
          amount = amountArray[c.value];
          if (amount > 0) {string = string + to_sum(amount) + " " + c.short + ", "}
        })
        return string.slice(0, -2)
      },

      calculateTotal(){
        this.currencies.forEach( c => {  
          this.grandOrderTotal[c.value] = 0; 
          this.grandOfferTotal[c.value] = 0; 
          this.grandClosedTotal[c.value] = 0;

          for (var gt in this.offerAmount) {      
            this.grandOfferTotal[c.value] = this.grandOfferTotal[c.value] + this.offerAmount[gt][c.value]
            this.grandOrderTotal[c.value] = this.grandOrderTotal[c.value] + this.orderAmount[gt][c.value]
            this.grandClosedTotal[c.value] = this.grandClosedTotal[c.value] + this.closedAmount[gt][c.value]
          }
        })
        return this.formatTotal(this.grandOfferTotal);
      },

      calculateAmount(gt){
        this.offerAmount[gt] = {}
        this.orderAmount[gt] = {}
        this.closedAmount[gt] = {}

        this.currencies.forEach( c => {
          this.offerAmount[gt][c.value] = 0 
          this.orderAmount[gt][c.value] = 0
          this.closedAmount[gt][c.value] = 0
        })

        for (var gi in this.grouped[gt]){
            g = this.grouped[gt][gi]
            c = g.currency_id
            this.offerAmount[gt][c] = this.offerAmount[gt][c] + parseInt(g.gsum)
            this.orderAmount[gt][c] = this.orderAmount[gt][c] + toInt(g.sum_supply)
            if (g.fixed)
              this.closedAmount[gt][c] = this.closedAmount[gt][c] + toInt(g.sum_supply)
        }

        if (this.offerAmount[gt] === undefined) return ""
        return this.formatTotal(this.offerAmount[gt])
      },

      allAmount(g){
        offer = g.gsum > 0 ? g.gsum : ''
        hasOrder = g.order && g.sum_supply != g.gsum
        offer = hasOrder ? "<span class='striked'>" + to_sum(offer) + '</span>' : to_sum(offer)
        order = hasOrder ? "<br>" + to_sum(g.sum_supply) : ''
        return offer + order
      },

      rowClass(g){

        if (g.fixed)
          cls = "fixed"
        else if (g.sum_supply>0)
          cls = "ordered" 
        else
          cls = "placed"
        
        switch(g.goods_priority_id){
          case 1: cls = cls + ' high_priority'
                break;
          case 2: cls = cls + ' alt_priority'
                break;
          default: 
            cls = cls + ' no_priority'
        }
        
        return "grid_table_goods grid_table sw_color " + cls
      },

      goodsEditLink(g){
        return "/project_goods/" + g.id + "/edit"
      },

      goodsDeleteLink(g){
        return "/project_goods/" + g.id 
      },

      goodsCreateLink(index){
        // console.log('this.goods[index]', this.goods[index])
        return "/project_goods/new?goodstype_id="+index+'&project_id='+this.project_id
      },


      
    }
    })

</script>