<% # files ||= @owner.attachments %>
<% # files = files.where(secret: false) if !is_manager? %>
<% # @files = files.order(:created_at) %>
<% # list_name ||= 'files' %>

<ul class="files_list_a files<%= controller.action_name == 'new' ? 'NilClass' : list_name %>">

  <% if grouped %> 
    <template v-for="(k, ind) in getKeys('<%= list_name %>')">
      <li class="li-head"> 
        {{k}}
      </li>
    <template v-for="(item, index) in getList('<%= list_name %>', k)">
  <% else %>
    <template v-for="(item, index) in mainList">
  <% end %>
      <li :class="liClass(item.secret)" :id="'file_'+item.id"> 
        <div class="fname">
          <a :class="iconType(item.name)" data-modal="true" :href="'/files/'+item.id">{{item.name}}</a>
        </div>
        <div class="tools">
          <% if is_manager? %>
            <span :class="iconClass(item.secret)" :file-id="item.id"></span>
          <% end %>
          <a class="icon icon_download" :href="'/download/'+item.id" target="_blank"></a>
          <% if is_manager? %>
            <a rel="nofollow"
                data-remote="true" 
                data-method="delete" 
                data-confirm="Удалить файл?"
                class="icon icon_remove_file" 
                :href="'/files/'+item.id"></a>
          <% end %>
        </div>
      </li>
    </template>
  </template>
</ul>
