<% if first_table == false %>
<%= render 'bottom' %>
</tbody></table></div>
<% end %>
<% first_table = false %>
<div class="panel panel-default">
<div class="panel-heading table-heading head month"> <%= heading %></div>

<table class="tleads" model="Payment" action="payments">
  <thead>
    <tr>
    	<th width="85px">Дата</th>
    	<th width="60px">Вид</th>
      <th width="150px">Основание</th>
      
      <th width='160px'>Контрагент</th>
      <th width="200px">Адрес</th>
      
      <th class="td_right" width="70px;" fld='sum'>Сумма</th>
      <th >Комментарий</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>