<div class="panel panel-default">
<div class="panel-heading table-heading">Список магазинов: </div>
<table class="tleads" id="absence_shops_" model="AbsenceShops" action="absence_shops">
  <tbody>
    <tr v-for="(item, index) in shops" v-show="!item._destroy">
      <td>{{item.shop.label}}</td>
      <td>{{item.target.label}}</td>
      <td><span class="icon icon_del" @click="del_shop(index)"></span>
        <input type="hidden" :name="shop_field(index,'shop_id')" :value="item.shop.value"/>
        <input type="hidden" :name="shop_field(index,'target_id')" :value="item.target.value"/>
        <input type="hidden" :name="shop_field(index,'id')" v-if="item.id!==undefined" :value="item.id"/>
        <input type="hidden" :name="shop_field(index,'_destroy')" :value="item._destroy"/>
      </td>
    </tr>
 
    <tr id="new_item"><%= hidden_field 'absence_shop', 'absence_id', value: @absence.id %>
      <td class="w_60">
        <div class="inp_l inp_w">
          <v-chosen name="new_shop" :value='new_shop' placeholder="*Другой*"/>          
        </div>
      </td>
      <td class="w_30"> 
         <v-chosen name="new_shop_target" :value="new_shop_target" placeholder="Выберите цель..."/>
        </td>
      <td><span class="btn_a" @click="add_shop" :disabled="!f_shop">Добавить магазин</span></td>
    </tr>

  </tbody>
</table>

</div>
