<%= render "sortmenu" %>
<%= hidden_field_tag :sort, params[:sort] %>

<div id="div_tabsences">
	<% if params['sort']=='calendar' %>
		<%= render "calendar" %>
	<% else %>
		<%= render "absences" %>
	<% end %>  
</div>
