<script>
  Vue.component('v-select', VueSelect.VueSelect)

  let app = new Vue({
    el: '.vue_app',
    data: <%= fill_vue_data(@project, {
      f_gt: true,

      confirmModal: false,
      currentIndex: 0,
      currentGoods: '',
      
      inputs: ['name', 'date_place', 'description', 'gsum'],
      selects: ['provider', 'currency'],
      
      fields: [],
      controls: [],
      
      offerAmount: {},
      orderAmount: {},
      closedAmount: {},
      
      grandOfferTotal: [],
      grandOrderTotal: [],
      grandClosedTotal: [],

      grouped: [],
      groupHeaders: [],
      groupKey1: 'project_id',

      lists: "projects currencies+short",
      texts: 'groupKey',

      providers: @providers,
      project_g_types: [],

      goods: @goods,
      opened: @opened
     }, 'pgoods') %>,

    updated(){
      this.onInput();
    },

    beforeCreate(){

    },

    created(){
      this.makeGroup('project_id')
      
      // console.log('opened', this.opened, this.controls)

      
    },

    mounted(){
      this.$root.$on('onInput', this.onInput);
      this.$root.$on('modalYes', this.modalYes);
      document.body.addEventListener('keyup', e => {if (e.keyCode === 45) this.addRow(); });
    },

    methods: {

      cutClass(index){
        let cls = 'cut'
        if (!this.controls[index].opened) cls = cls + ' cutted'
        return cls
      },

      projectLink(prj_id){
        let prj = this.projects.filter(w => w.value === parseInt(prj_id))
        let name = prj.length>0 ? "/projects/"+prj[0].value+"/edit#tabs-4" : 'Ошибка'
        return name
      },

      projectAddress(prj_id){
        let name = this.grouped[prj_id][0]
        if (this.groupKey == 'project_id')
          name = name.address
        else
          name = name.provider_name
        return name
      },

      nonGroupKey(g) {
        if (this.groupKey == 'project_id')
          return g.provider_name
        return g.address
      },

      addControlAndField(){
        this.controls.push({opened: false, valid: false});
      },

      deleteGoods(index, goods){
        this.currentGoods = goods;
        this.currentIndex = index;
        this.confirmModal = true;
        // console.log('goods', goods, 'index', index)
      },

      modalYes(){
        if (this.currentGoods === '' || !this.confirmModal ) return;
        let index = this.grouped[this.currentIndex].indexOf(this.currentGoods);

        if (index<0) return;
        this.grouped[this.currentIndex].splice(index, 1);
        delete_item('/project_goods/'+this.currentGoods.id);
      },

      onChange(key, index){
        let valid = true;
        let pref = 'goods_'+key+'_'; 

        this.inputs.forEach( c => {if (v_nil(this.fields[index][c])) {valid = false;} });
        this.selects.forEach( c => {if (v_nil(app[c])) {valid = false;}});

        this.controls[index].valid = valid;  
      },

      onInput(e){
        if (e === undefined || e.index === undefined) return;
        this.onChange(e.key, e.index);
      },

      switchOpened(index){
        this.currentIndex = index
        this.controls[index].opened = !this.controls[index].opened
      },

      openedOrHaveData(index, length){
        return !this.closedTable(index); 
      },

      closedTable(index){
        if (this.controls[index] === undefined) {this.controls.push({opened: false, valid: false})}
        return !this.controls[index].opened;
      },

      format_date(date){
        return format_date(date);
      },

      v_nil(v){
        return v_nil(v);
      },

      formatTotal(amountArray){
        let string = ""
        if (amountArray === undefined) return ""
        this.currencies.forEach( c => {
          amount = amountArray[c.value];
          if (amount > 0) {string = string + to_sum(amount) + " " + c.short + ", "}
        })
        return string.slice(0, -2)
      },

      calculateAmount(prj_id){
        this.offerAmount[prj_id] = {}
        this.orderAmount[prj_id] = {}
        this.closedAmount[prj_id] = {}

        this.currencies.forEach( c => {
          this.offerAmount[prj_id][c.value] = 0 
          this.orderAmount[prj_id][c.value] = 0
          this.closedAmount[prj_id][c.value] = 0
        })

        // console.log("this.grouped[prj_id]", prj_id, this.grouped)

        for (var gi in this.grouped[prj_id]){
            g = this.grouped[prj_id][gi]
            c = g.currency_id
            this.offerAmount[prj_id][c] = this.offerAmount[prj_id][c] + parseInt(g.gsum)
            this.orderAmount[prj_id][c] = this.orderAmount[prj_id][c] + toInt(g.sum_supply)
            if (g.fixed)
              this.closedAmount[prj_id][c] = this.closedAmount[prj_id][c] + toInt(g.sum_supply)
        }

        if (this.offerAmount[prj_id] === undefined) return ""
        return this.formatTotal(this.offerAmount[prj_id])
      },

      allAmount(g){
        offer = g.gsum > 0 ? g.gsum : ''
        hasOrder = g.order && g.sum_supply != g.gsum
        offer = hasOrder ? "<span class='striked'>" + to_sum(offer) + '</span>' : to_sum(offer)
        order = hasOrder ? "<br>" + to_sum(g.sum_supply) : ''
        return offer + order
      },

      makeGroup(id){
        this.groupKey = id
        this.grouped = _.groupBy(this.goods, id)
        this.groupHeaders  = Object.keys(this.grouped)
        this.controls.length = 0
        this.groupHeaders.forEach(()=>this.addControlAndField())

        if (this.opened !== null){
        let opened = this.opened.split('.');
        let t = this
        opened.forEach(function(i) {
            console.log(i);
            if (i!=='') t.controls[i].opened = true
           });
        }
        // console.log('this.controls.length', this.controls.length)
      },
      
      sortBy(id){
        this.makeGroup(id)
      },

      rowClass(g){

        if (g.fixed)
          cls = "fixed"
        else if (g.sum_supply>0)
          cls = "ordered" 
        else
          cls = "placed"    
        return "grid_table_goods grid_table sw_color " + cls
      },

      goodsEditLink(g){
        return "/project_goods/" + g.id + "/edit"
      },

      goodsDeleteLink(g){
        return "/project_goods/" + g.id 
      }

      
    }
    })

</script>