<div v-for="(item, index) in groupHeaders">
<template v-if="controls[index]!==undefined">
  <div class="panel panel-default good_group">
    <div class="panel-heading table-heading head month goods-list"> 
      <a :class="projectClass(item, index)" :href='projectLink(item)'>{{projectAddress(item, index)}} [{{goodsCount(item)}}]</a> 
      <span class="title" @click="switchOpened(index)"></span>
      <span :class="cutAllClass(index)" :cut_id="index" @click="switchAllOpened(index)"><b></b></span>
      <span :class="cutClass(index)" :cut_id="index" @click="switchOpened(index)"><b></b></span>
    </div>
    
    <div class="grid_table_goods grid_table_head" v-show="gtRowsOpened(index)">
      <template class="goods_head">
        <div>Позиция</div>
        <div>{{groupKey == 'project_id' ? 'Поставщик' : 'Проект'}}</div>
        <div>Дата</div>
        <div>Примечание</div>
        <div>Стоимость</div>
        <div></div>
      </template>
    </div>

    <template v-for="(gt, idx) in grouped[item]">
    <div class='alt_goods_head goods_head' :key='-1' v-show="openedOrHaveData(index)">
      <span class="title" @click="switchOpenedRow(index, idx)">{{goodstypeHead(idx, item)}}</span>
      <span cut_id="0" :class="cutRowClass(index, idx)" @click="switchOpenedRow(index, idx)">
      <b></b></span></div>

    <transition-group name="item" v-show="gtRowsOpened(index, idx)">
    <template v-for="(g, ind) in grouped[item][idx]" >
      <div :class="rowClass(g)" :id="'item_'+item" :key="item">    
          <div v-html="goodsName(g)"></div>
          <div v-html="nonGroupKey(g)"></div>
          <div :title="toolTip(g)">{{format_date(g.date_place)}}</div>
          <div>{{g.description}}</div>
          <div v-html="allAmount(g)" class="td_right"></div>
          <div class="edit_delete td_right " style="">
            <a class="icon basket td_right" data-modal="true" :href="goodsEditLink(g)"></a>
            <span class="icon icon_del" @click="deleteGoods(item, g, idx)"></span> 
            <div class="icons-attach" v-if="hasFile(g.id)"><%= image_tag('clip.png', title: 'Есть вложение') %></div>
          </div>
      </div>
    </template>
    </transition-group>

    </template>

    <div class="table_3col table_footer">
      <div>Предложено: <span>{{calculateAmount(item)}}</span></div>
      <div>Заказано: <span>{{formatTotal(orderAmount[item])}}</span></div>      
      <div>Закрыто: <span>{{formatTotal(closedAmount[item])}}</span></div>      
    </div>
  </template>
</div>

<div class="total-footer">Общий итог:<div id="grand_total">
<ul class="right">
  <li>
    Итого предложено: <span><b>{{calculateTotal()}}</b></span></li>
  <li>
    Итого заказано: <span><b>{{formatTotal(grandOrderTotal)}}</b></span></li>
  <li>
    Итого закрыто: <span><b>{{formatTotal(grandClosedTotal)}}</b></span></li>
</ul>
</div>

</div>


<transition name="appear">
  <confirmation-modal v-if='confirmModal'></confirmation-modal>
</transition>


