 23878
<% @cur_head = "" %>
<% @first_table = true %>
<% @no = 1 %>
<% @goods.order(:id).each do |g| %>
  <% if check_new_table_head(g) %>
    <% if !@first_table %>
      <%= render 'total', opened: true, pgt: nil %>
    <% end %>
    <%= render "shared/head", link: obj_to_link(g) %>
    <% get_goods(g, nil) %>
    </thead>
    <tbody>
  <% end %>
  <%= render "good", g: g %> 
<% end %>
<%= render 'total', opened: true, pgt: nil %>
</tbody>
</table>