<div v-for="(item, index) in groupHeaders">
<template v-if="controls[index]!==undefined">
  <div class="panel panel-default good_group">
    <div class="panel-heading table-heading head month"> 
      <a :href='projectLink(item)'>{{projectAddress(item)}}</a> 
      <span class="cut cutted" :cut_id="index" @click="switchOpened(index)"><b></b></span>
    </div>
    
    <div class="grid_table_goods grid_table_head" v-show="openedOrHaveData(index)">
      <template class="goods_head">
        <div>Позиция</div>
        <div>Поставщик</div>
        <div>Дата</div>
        <div>Примечание</div>
        <div>Валюта</div>
        <div>Стоимость</div>
        <div></div>
      </template>
    </div>

    <transition-group name="item" >
    <template v-for="(g, ind) in grouped[item]" >
      <div :class="rowClass(g)" :id="'item_'+item" :key="item">    
          <div>{{g.name}}</div>
          <div>{{g.provider_name}}</div>
          <div>{{format_date(g.date_place)}}</div>
          <div>{{g.description}}</div>
          <div>{{g.currency_name}}</div>
          <div v-html="allAmount(g)"></div>
          <div class="edit_delete td_right " style="">
            <a class="icon basket td_right" data-modal="true" :href="goodsEditLink(g)"></a>
            <span class="icon icon_del" @click="deleteGoods(item, g)"></span> </div>
      </div>
    </template>
    </transition-group>

    <div class="table_3col table_footer">
      <div>Предложено: <span>{{calculateAmount(item)}}</span></div>
      <div>Заказано: <span>{{formatTotal(orderAmount[item])}}</span></div>      
      <div>Закрыто: <span>{{formatTotal(closedAmount[item])}}</span></div>      
    </div>
  </template>
</div>
</div>


<transition name="appear">
  <confirmation-modal v-if='confirmModal'></confirmation-modal>
</transition>


