<ul class="right">
  <li>
    <b>Итого предложено: </b> <span id="grand_offer">{{grandOfferTotal}}</span></li>
  <li>
    <b>Итого заказано: </b> <span id="grand_supply"></span></li>
  <li>
    <b>Итого закрыто: </b><span id="grand_closed"></span></li>
</ul>