<tr id= "total_<%= @cur_id %>" class="total">
  <td colspan="3">Итого предложено: <span id="total_offer_<%= pgt %>"></span></td>
  <td colspan="4">Итого заказано: <span id="total_supply_<%= pgt %>"> </td>      
</tr>
