<tr class="total <%= @goods.count>0 || opened ? '' : 'hidden' %>">
  <td colspan="3">Итого предложено: <%= total_on_currencies(total, 1).html_safe %></td>
  <td colspan="4">Итого заказано: <%= total_on_currencies(total, 2).html_safe %></td>    
</tr>
