<div class="vue_app">
<%= render "sortmenu" %>

<div class ="container">
  <div id="div_tprojects" class="tbl_w_links">
      <%= render "goods" %>
    </div>
  </div>
</div>

<%= render "goods_vue" %>


