<div class="vue_app">
<%= render "sortmenu" %>
<div class="sep_15"></div>
<div class ="container goods_list">
  <div id="div_tprojects" class="tbl_w_links">
      <%= render "goods" %>
    </div>
  </div>
</div>

<%= render "goods_vue" %>


