// Place all the styles related to the Absences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#absence_shops .edit_delete {width: 175px;}

.tcalendar .day {
    width: 14%; 
    border: 1px solid #ebebeb;
    padding: 3px; 
    vertical-align: top;}

th.day{text-align: center; }
td.day{font-size: 13px;}
.nday {color: #ccc;}
.inday {min-height: 100px;}


.day li {list-style-type: none;}

.day li:before {
    color: red;    
    content: "●";
    //content: "\26AB";
    //content: "\25e9";
    /* content: "\25e9"; Полузакрашеный квадрат*/ 
    padding-right: 5px; /* Расстояние от маркера до текста */
    height: 12px;
    font-size: 22px;
}
.day li.half:before{ content: "\25d1"; font-size: 19px;/* Полузакрашеный круг */ }
.day li.birthday:before{ 
    content: ""; color: #ff8411; 
    display: inline-block;
    background: asset-url('pict01.png') no-repeat;
    vertical-align: middle;
    position: relative;
    background-position: -163px -23px;
    width: 15px;
    height: 18px;
}

.curday { background-color: #f5f5f5;}

.day a{text-decoration: none;font-size: 12px;  }

.day li.abs1:before { color: #fe0000; }
.day li.abs2:before { color: #6acc00; }
.day li.abs3:before { color: #00ccff; }
.day li.abs4:before { color: #ffbc73; } 
.day li.abs5:before { color: #0000ff; }
.day li.abs6:before { color: #bf6520; }
.day li.abs7:before { color: #009060; } //#7f70d8


.numday {display: block; }
// .abs1{background-color: red;}

.day .tooltip-inner {
    white-space:pre;

    white-space:pre-wrap;
    //max-width:none;
}

.cal-next{
		border: 1px solid #f2f2f2;
		padding: 5px;
		cursor: pointer;
    &:hover{background: #6acc00;
    border: 1px solid #6acc00;
    border-radius: 4px;
    color: #fff !important; }
}