.has-note { position: fixed; right: 3px; top: 130px; z-index: 1050; width: 100%; height: auto;width: 25em; transform:  translateX(110%);}
.alert.out{transform:translateX(110%);transition:all 0.6s ease-in-out;}
.alert.in{ transform: translateX(-110%); transition:all 0.4s ease-in-out}
.alert .close {position: relative;top:-5px; right: 0; opacity:.2;text-decoration: none !important;font-size: 25px !important;}
.close:focus, .close:hover { text-decoration: none; cursor: pointer; opacity: .9; }