// Place all the styles related to the Comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments_list_a {}
.comments_list_a .item{padding: 0 6px; margin: 14px 0 0 64px; border-top:1px solid #e5e5e5; line-height:1.25;}
.comments_list_a .item:first-child{border: 0; padding-top: 0; margin-top: 0;}
.comments_list_a .item:after {content: ' '; clear:both; display: block; width: 0; height: 0; overflow: hidden; font-size: 0;}
.comments_list_a .item .pic{float:left; width: 50px; margin:0 0 0 -64px;}
.comments_list_a .item .pic img{vertical-align:top; width: 50px; border-radius: 50%;}
.comments_list_a .head{padding: 6px 0 0 0; margin:0 0 12px 0; position:relative;}
.comments_list_a .info{ font-size: 12px; color: #aaa; }
.comments_list_a .info a{color: #7d7d7d; }
.comments_list_a .info a:hover{color: #000; }

.comments_list_a .date{position:absolute; top: 10px; right: 0; font-size: 12px; color: #aeaeae; }
.comments_list_a .btn_remove{margin:0 0 0 10px;}
.comments_list_a .text{}

.comments_list_a {width: 528px; padding: 0; -webkit-margin-after: 0; -webkit-margin-before: 0;}
.comments_list_a li{list-style: none;}


.comments_list_a .item.new { background-color: #fbfbfb; }
.last .comments_list_a .item .info:after { color: gray; content: " ●"; line-height: 8px; font-size: 16px; cursor: pointer;}
.last .comments_list_a .item.new .info:after {color: #ff8411; content: " ●"; line-height: 8px; font-size: 16px; }
.first .comments_list_a .info {color: red}

.icon_img, .icon_doc {display: inline-block; background: asset-url('image.png') no-repeat; 
                      vertical-align: middle; position: relative; cursor: pointer; padding-left:20px;}
.icon_doc {background: asset-url('doc.png') no-repeat;}
li.locked {background-color: #fcc;}