// Place all the styles related to the costings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul.costing_works {list-style: none; padding-left: 15px;}
.costing_works span{padding-left: 5px;}

// .add_room { float:left; width: 400px; display: block; margin: 10px 5px;}
.costing_add span {margin-top: 10px; height: 35px;}

.grid_works, .grid_works_th {
  display: grid; 
  grid-template-columns: 64px 1fr 74px 74px 74px 120px 1fr 74px 74px 74px 120px;}

.grid_works div{border-bottom: 1px solid #eee; }

.grid_works_th {background-color: #fafafa;}
.grid_works_th .th {align-self: center; padding: 8px;}
.grid_works div {
  // align-self: center; 
  padding: 8px;}
