// Place all the styles related to the DevProjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#develop_description{ height: 200px; }
.tbl_option { border-spacing: 10px 0; border-collapse: separate;}

.dev_priority2, .bg_red { color: #a94442; background-color: #ffefef;}
.dev_priority2:nth-child(even) td, .bg_red:nth-child(even) td {color: #a94442; background-color: #fae5e5 !important;}
tr.dev_priority2:hover td, tr.bg_red:hover td { color: #a94442; background-color: #ffcccc !important;}
.dev_priority2:hover:nth-child(even) td, .bg_red:hover:nth-child(even) td {color: #a94442; background-color: #ffcccc !important;}

table.tleads tr.dev_priority4 {color: #0089d8;  background-color: #dcf2ff;}
table.tleads .dev_priority4:nth-child(even) td {color: #0089d8;  background-color: #f2fafe;}
table.tleads tr.dev_priority4:hover, table.tleads tr.dev_priority4:hover td{ color: #0089d8;  background-color: #cbe8ff;}