// Place all the styles related to the Develops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.check_img{
    $corner-radius: 2px;
    padding: 1px 1px 1px 1px;
    display: block;
    float: center;
    //margin: 0px 1px 4px 0px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #AAA;
    vertical-align: center;
    text-align: center;
    width:18px;
    min-height:18px;
   font-size: 0.8em;
   -moz-border-radius: $corner-radius;
  -webkit-border-radius: $corner-radius;
  -o-border-radius: $corner-radius;
  -ms-border-radius: $corner-radius;
  -khtml-border-radius: $corner-radius;  
  &:hover{
    border: 1px solid #BBB;
    background-color: #d9e8ff;
  }  
  &.checked{
    background-image: url('check.png');
  }
}