// Place all the styles related to the Leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.files{ margin-top: 10px; width:88% !important; }
.file_progress{ margin-top: 15px; width:88% !important; height: 20px;	}

td.right_icon { width: 18px;
  padding-right: 4px !important;
  padding-left: 4px !important;
}


.btn_remove{cursor: pointer;}

.comments_list_a{ width: 528px; }

::-webkit-scrollbar { width: 10px;}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 8px;
    border:1px solid #ccc; 
}


.lead_comments{ width: 500px; float: right; }



// .tleads tr:hover:not(.month):not(#new_item) { background-color: #f5f5f5; 	border-radius: 4px; }

.hotlead, .hot{	color: red; }
.info, .info a {color: #009DDD;}


.input-group select,.input-group .chosen-container-single, .input-group .chosen-container-single .chosen-single{
	width: 100% !important;	
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	height: 28px;
	border-color: #CCC ;
}

#lead_status_date1, #lead_start_date1{
	width: 100%;
height: 28px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
border-bottom-left-radius: 0;
border-top-left-radius: 0;
	border-color: #CCC ;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#lead_first_comment{ height: 80px; }
.glyphicon-remove-circle:hover{ color: red; }
.panel-body { overflow-y: scroll; height: 290px;}
