// Place all the styles related to the Leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subnav{
	display: block;
	max-width: 1200px;
	padding: 0;
	margin-bottom: 10px;
	height: 30px;
}

.only_actual, .subnav span{
	min-width: 100px;
	text-align: center;
	border-radius: 4px;
	//border: 1px solid #428bca;
	float: left;
	color: #428bca;
	padding: 3px 10px;
	height: 24px !important;
	cursor: pointer;
	&:hover{
		background-color: #e7e7e7;	
	}
	&.active,{
		background-color: #428bca;
		color: #fff;
	}
	&.passive{
		background-color: #eee;	
		
	}
	

}

.lead_comments{
	width: 500px;
	float: right;
}

.table-lead-form{
	width: 500px;
	border: 1px solid #ddd;
	float: left;
}

.tleads{

	//border: 1px solid #dff2ee;
	//font-family: Georgia,serif;
	//	font-family: 'Open Sans';
	//src: font-url('open-sans/OpenSans-Regular-webfont.eot');
  	//src: font-url('open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	//font-size: 18px;
	
	width: 100%;
	//padding: 50px 15px 50px 10px;
	
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.tleads thead{
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}


.tleads th{
	padding: 8px;
	//font-size: 14px;
	//background-color: #efe;
	//color: #7d7d7d;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
}

.tleads td {
border-top: 1px solid #ebebeb;
padding: 8px;
}

td.edit_delete, th.edit_delete{
	width: 45px;
	padding-right: 4px !important;
	padding-left: 4px !important;
}

.tleads tr.month, .month{
	border-right-color: white; 
	border-left-color: white; 
	vertical-align: bottom;
	margin-bottom: 0;
	font-size: 20px !important;
	font-weight: normal !important;
	background-color: #fafafa;
	

}

.tleads tr.month td{
	padding: 10px;
}

.tleads tr:hover:not(.month) {
	background-color: #f5f5f5;
	border-radius: 4px;
}

.hotlead{
	//background-color: #ffeefe;
	color: red;
}

.input-group select,.input-group .chosen-container-single, .input-group .chosen-container-single .chosen-single{
	width: 100% ;	
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	height: 28px;
}

#lead_status_date, #lead_start_date{
	width: 100%;
height: 28px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
border-bottom-left-radius: 0;
border-top-left-radius: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

#lead_first_comment{
	width: 306px;
	height: 102px;
	border-radius: 4px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}