// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.add_pay, span.calc_proc{ color: white; background-color: #c3c3c3; padding: 3px 6px; border-radius: 3px; }
span.calc_proc.enabled{background-color: #ff8411; cursor: pointer;}
span.calc_proc.enabled:hover{opacity: 0.7;}

span.calc_proc{ padding: 8px 6px;  margin-left: 6px;  display: inline-block;  border-radius: 5px;}

.calc_div{float: right; display: table-cell;}

.td_table {display: table; width: 100%;}

input[type='number'] {text-align: right;}
input::-webkit-inner-spin-button { padding-right:0}

.space20 {margin-left: 20px !important;}
.space10 {margin-left: 10px !important;}

// #add_footage {font-size: 18px; font-weight: bold;}
.va_pt15{padding-top: 16px;}

td.inf.attention, td.inf.comment {background: asset-url('p_inf.png') no-repeat !important;
                             background-position-y: 5px !important; background-position-x: 7px !important;
                              height: 32px; }


#div_tprojects .cell-inner {position:relative;}

// #div_tprojects .icons-indicate {position:absolute; top: 0; right: 100%; white-space:nowrap; margin:10px 10px 0 0; font-size: 0;}
.icons-indicate {position:absolute; right: 100%; white-space:nowrap; margin:-4px 10px 0 0; font-size: 0;}

.icons-indicate img {margin:0 5px 0 0;}

td.inf.comment {  background-position-x: -17px !important; }

.icon_comment {background: asset-url('comment.png') no-repeat;}

#project_payd_full {margin-left: 10px;}
.green { color: #0dd60d;}