// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.add_pay, span.calc_proc{ color: white; background-color: #c3c3c3; padding: 3px 6px; border-radius: 3px; }
span.calc_proc.enabled{background-color: #ff8411; cursor: pointer;}
span.calc_proc.enabled:hover{opacity: 0.7;}

span.calc_proc{ padding: 8px 6px;  margin-left: 6px;  display: inline-block;  border-radius: 5px;}

.calc_div{float: right; display: table-cell;}

.td_table {display: table; width: 100%;}

input[type='number'] {text-align: right;}
input::-webkit-inner-spin-button { padding-right:0}
