// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.add_pay, span.calc_proc{ color: white; background-color: #c3c3c3; padding: 3px 6px; border-radius: 3px; }
span.calc_proc.enabled{background-color: #ff8411; cursor: pointer;}
span.calc_proc.enabled:hover{opacity: 0.7;}

span.calc_proc{ padding: 8px 6px;  margin-left: 6px;  display: inline-block;  border-radius: 5px;}

.calc_div{float: right; display: table-cell;}

.td_table {display: table; width: 100%;}

input[type='number'] {text-align: right;}
input::-webkit-inner-spin-button { padding-right:0}

.striked {text-decoration: line-through;}
.icon.basket { display: inline-block;
    background: url('basket.png') no-repeat;
    vertical-align: middle;
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;}

.space20 {margin-left: 20px !important;}
.space10 {margin-left: 10px !important;}
.ordered {background: #ffca98; }
.ordered td:hover,table.tleads tr.ordered:hover:not(#new_item) td{ background: #ff7f05;}
.placed {background: #fff;}
// table.tleads tr.placed:nth-child(even) td
.fixed {background: #fafafa; color: #ccc;}

// .tbl_a table tr.ordered:nth-child(even) td, table.tleads tr.ordered:nth-child(even) td { background: #84c8d6;}
#project_client_id_chosen {max-width: 300px !important;}



// #add_footage {font-size: 18px; font-weight: bold;}
.va_pt15{padding-top: 16px;}

td.inf.attention, td.inf.comment {background: asset-url('p_inf.png') no-repeat !important;
                             background-position-y: 5px !important; background-position-x: 7px !important;
                              height: 32px; }


#div_tprojects .cell-inner {position:relative;}

// #div_tprojects .icons-indicate {position:absolute; top: 0; right: 100%; white-space:nowrap; margin:10px 10px 0 0; font-size: 0;}
.icons-indicate {position:absolute; right: 100%; white-space:nowrap; margin:-4px 10px 0 0; font-size: 0;}

.icons-indicate img {margin:0 5px 0 0;}

td.inf.comment {  background-position-x: -17px !important; }

.icon_comment {background: asset-url('comment.png') no-repeat;}

#project_payd_full {margin-left: 10px;}
.green { color: #0dd60d;}

#pgoods .datepicker {width: 125px;}

#pdf {float: right; margin-left: 15px;}

#pgoods #btn-sub-send{padding: 0 14px;}

.goods_order_td span{font-size: 17px;font-weight: 500;padding-left: 8px;}
table.tbl_fc_1 td.caption.goods_closed {font-size: 17px; font-weight: 500; padding-top: 4px; color: red;}
.goods_order_td label.inp_btn_label .inp_btn  {top: 4px; left: 174px;}

.total-footer{ margin-bottom: 20px; border-top: 2px solid #e5e5e5; padding: 10px; font-size: 20px;}