.short_search {
	float: left;
	padding-right: 10px;
	& input{ width: 170px;}
}

.short_search label { margin-right: 15px;}


.pstatus {padding: 0 5px 0 5px;   border-radius: 2px;}

#ny:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-animation: dropFlowParticles 12s linear infinite;
    -o-animation: dropFlowParticles 12s linear infinite;
    animation: dropFlowParticles 12s linear infinite;
    background: rgba(0, 0, 0, 0) url(http://petushki-city.ru/files/0002/10/47/64450.png) repeat scroll 0 0;
}


#ny:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-animation: dropFlowParticles 27s linear infinite;
    -o-animation: dropFlowParticles 27s linear infinite;
    animation: dropFlowParticles 27s linear infinite;
    background: rgba(0, 0, 0, 0) url(http://petushki-city.ru/files/0002/10/47/50326.png) repeat scroll 0 0;
}

@-webkit-keyframes dropFlowParticles {
	from { background-position: 0 0; }
	to { background-position: 0 413px; }
}
@keyframes dropFlowParticles {
	from { background-position: 0 0; }
	to { background-position: 0 413px; }
}