// Place all the styles related to the Providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#p_search{
	float: left;
}

.style_chosen{
	//width: 200px;
	//margin-right:15px;
	//margin-bottom:15px;
	//float: left;
}

#p_search select, #p_search .chosen-container-single{
	width: 200px;
	margin-right:15px;
	margin-bottom:15px;
	float: left;
	border-color: #CCC ;
}

#p_search .chosen-single{
	border-color: #CCC !important;	
}

li.search-choice{
	border-color: #CCC !important;
	margin: 2px 3px 3px 0 !important;
}

.gr-btm_mg{
	margin-bottom: 7px;
	width:88%
}


.chosen-container-multi .chosen-choices {
	padding: 4px 12px 0px !important;
	border-radius: 0px 3px 3px 0px;
	border-color: #CCC !important;
}

