html,body { width: 100%; height: 100%;	min-width: 1140px; }

body {background: #fff; font: normal 14px 'Pragmatica', sans-serif; color: #000000; line-height: 1.4;}

a {outline: none; color: #000000; }
a:hover {text-decoration:none;}

.sub, .btn, .btn_a,.subnav span, .splink{background: none; padding: 0 0 0 0; margin: 0 0 0 0; width: auto; overflow: visible; border: 0; cursor: pointer;}
.sub::-moz-focus-inner, .btn::-moz-focus-inner{border: 0; padding: 0; margin: 0;}

input, textarea , button , select {font: normal 14px 'Pragmatica', sans-serif;}

input[type="submit"], input[type="reset"], input[type="text"], input[type="tel"], input[type="url"], input[type="email"], 
input[type="search"], input[type="password"], textarea {  -webkit-appearance: none;  -moz-appearance: none; }

input, textarea {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}

h1 {margin:0 0 14px 0; padding: 0 0 0 0; line-height: 1; }
h2 {margin:0 0 14px 0; padding: 0 0 0 0; line-height: 1; }
h3 {margin:0 0 14px 0; padding: 0 0 0 0; line-height: 1; }

p {margin:0 0 14px 0; padding: 0 0 0 0; }

.sep_1 {height: 10px; }
.sep_05 {height: 2px; }
.sep_15 {height: 15px; }
.sep_2 {height: 20px; }
.sep_3 {height: 30px; }
.sep_4 {height: 40px; }
.sep_5 {height: 50px; }

.orange {color: #ff8411; }
.red {color: #cd1010; }
.grey {color: #aeaeae; }

.icon,li.icon a {display: inline-block; background: url('pict01.png') no-repeat; vertical-align:middle; position:relative;}
.icon_logout {background-position:0 0; width: 16px; height: 16px; }
.icon_user {background-position:-18px 0; width: 14px; height: 16px; }
a:hover .icon_user, .active .icon_user {background-position:-18px -18px; }
.icon_options,li.icon_options a{background-position:-228px 0; width: 24px; height: 24px; }
.icon_edit {background-position:-69px -16px; width: 16px; height: 16px; }
.icon_show {background-position:-212px -16px; width: 16px; height: 16px; margin: 0 4px 0 0 !important;}
.icon_apply {background-position:-68px -32px; width: 18px; height: 18px; margin: 0 4px 0 0 !important;}
.icon_cancel {background-position:-68px -50px; width: 18px; height: 18px; margin: 0 4px 0 0 !important;}


.icon_remove {background-position:-52px 0; width: 15px; height: 15px;}
.icon_remove_disabled {background-position:-52px -18px; width: 15px; height: 15px;}

.icon_close {background-position:-52px -35px; width: 16px; height: 16px;}
.icon_close:hover {background-position:-52px 0; }

.hl .icon_remove {margin-top: 4px !important;}

.icon_remove_1 {background-position:-119px -9px; width: 9px; height: 9px;}
.icon_remove_1:hover {background-position:-119px 0; cursor: pointer;}

.icon_download {background-position:-130px 0; width: 12px; height: 12px;}
.icon_chat {background-position:-144px 0; width: 16px; height: 16px; margin: 0 10px 0 0 !important; }
.icon_birthday {background-position:-163px 0; width: 15px; height: 20px;}
.icon_file {background-position:-180px 0; width: 12px; height: 16px;}

.btn_a,.form-actions .btn-success, a.btn-success, 
.input-group .btn-warning {display: inline-block; background: #ff8411; height: 34px; line-height: 34px; padding: 0 19px 0 19px; text-decoration:none; font-size: 14px; color: #fff; 
  border-radius: 5px; 
  position:relative;}
.btn_slim{ height: 24px; font-size: 13px; padding: 0 12px; line-height: 24px;} 
.btn_a:hover {opacity: 0.7;}
.icon:hover,.btn:hover {opacity: 0.7;}
.only_actual:hover {opacity: 0.8;}
.btn_a.btn_reset {background: #c3c3c3;}

.btn_b{display: inline-block; border:1px solid #e5e5e5; padding: 9px 19px 9px 19px; color: #000000; position:relative; text-decoration:none; 
  border-radius: 5px; 
  line-height: 1; }
.btn_b:hover,
.btn_b.active{background: #6acc00; border-color:#6acc00; padding-left: 20px; padding-right: 20px; color: #fff; border-left: 0; border-right: 0; text-decoration:none;}

.btn_c{display: inline-block; border:1px solid #e5e5e5; padding: 9px 19px 9px 19px; color: #ff8411; position:relative; text-decoration:none; 
  border-radius: 5px; 
  line-height: 1;  text-decoration:underline;}
.btn_c:hover{text-decoration:none;}
label a.btn_c:hover{cursor: pointer;}

.page_wrapper {min-height: 100%; position:relative;}


.bw_i:after {content: ' '; clear:both; display: block; width: 0; height: 0; overflow: hidden; font-size: 0;}


.header {margin: 0 auto; position:relative; width: 1200px; }
.header .bw_i{padding: 30px 0 0 0; height: 44px; }
.header .btn_call{position:absolute; top: 39px; left: 0;}
.header .logo {position:absolute; top: 39px; left: 0;}
.header .logo img {vertical-align:top;}

.time_h {
  /*position:absolute; */
  /*top: 33px; */
  font-size: 15px; font-weight: 500; color: #000000; margin: 0 auto;}

.user_h {position:absolute; top: 18px; right: 70px; font-size: 15px; font-weight: 500; color: #000000;}
.user_h .name{}
.user_h .logout{margin:0 0 0 20px; }
.user_h .logout .icon{margin:0 7px 0 0;}

.menu_main {height: 44px; background: #f1f1f1 url('bg1_1.png') no-repeat 0 0; border-radius: 5px; position:relative; margin-bottom: 40px;}
.menu_main ul, .submenu ul, .items_box_head ul{margin:0 0 0 0; padding: 0 0 0 0; list-style:none; overflow:hidden;}
.menu_main ul li, .submenu ul li, .items_box_head ul li{margin:0 0 0 0; padding: 0 0 0 0; background:none; float:left;}
.menu_main ul li a{display: inline-block; font-size: 15px; color: #000; text-decoration:none; }
.menu_main ul li a {display: inline-block; 
  line-height: 44px;
  background: url('bg1_2.png') no-repeat 100% -100px; padding: 0 14px 0 14px; }
.menu_main ul li:not(.disabled) a:hover, .menu_main ul li.active a,
.menu_main .btn_options:hover {background: #59c600; background: linear-gradient(to top, #59c600, #61c900); color: #fff; }
.menu_main ul li:not(.disabled) a:hover , .menu_main ul li.active a {background-position: 100% 0;}
.menu_main ul li:first-child a{border-radius: 5px 0 0 5px;}
.menu_main ul li:first-child a {padding-left: 20px; border-radius: 5px 0 0 5px;}

.submenu ul li a, .items_box_head ul li a{text-decoration:none;}


li.icon_options a {display: inline-block; background: url('pict0.png') no-repeat !important; 
vertical-align:middle; position:relative;
background-position:-34px 0 !important; width: 16px; height: 16px;}

.options { overflow: auto; border-radius: 0 5px 5px 0; margin-top: 1px !important; }


.btn_call_a {display: block; width: 85px; height: 85px; background: url('pict_call.png') no-repeat 0 0; position:relative;}
.btn_call_a:hover {background-position:0 -87px;}
.btn_call_a.orange {background-position:-87px 0;}
.btn_call_a.orange:hover {background-position:-87px -87px;}
.btn_call_a.red {background-position:-174px 0;}
.btn_call_a.red:hover {background-position:-174px -87px;}


.body {}

.sidebar{float: left; width: 214px; }

.body.sb_left {}
.body.sb_left .sidebar{float:left;}
.body.sb_left .content, .container .content{float:right; width: 946px; }

/*----Меню слева_start----*/
.menu_sb {margin:0 0 0 0; font-size: 14px; }
/*.menu_sb div{margin-bottom: 5px;}*/
.menu_sb .head, .menu_sb h3{ border: 1px solid #f2f2f2; padding: 10px 10px 10px 20px; font-weight: 500; font-size: 100%; margin: 0; }
.menu_sb h3 {border-radius: 5px; margin-top: 10px;}
.menu_sb h3.first {margin-top: 0;}
.menu_sb h3.ui-state-active{border-radius: 5px 5px 0 0;}
.menu_sb h3:hover,.menu_sb .ui-state-active{ cursor: pointer; background: #f2f2f2;}

.menu_sb ul{margin: 1px 0 0 0; padding: 0 0 0 0; list-style:none;}
.menu_sb ul li{margin: -1px 0 10px 0; padding: 0 0 0 0; background:none;}
.menu_sb ul li a{display: block; border:1px solid #e5e5e5; padding: 10px 19px 10px 19px; color: #000000; position:relative; text-decoration:none; border-radius: 5px;}
.menu_sb ul li a .pict, h3 a .pict .icon {display: inline-block; height: 14px; margin:0 7px 0 0; text-decoration: none;}
.menu_sb ul li a .pict .icon{top:-1px;}
.menu_sb ul li a:hover,
.menu_sb ul li.active a{background: #6acc00; background: linear-gradient(to top, #6acc00, #6acc00); padding-left: 20px; padding-right: 20px; color: #fff; border-left: 0; border-right: 0;}

.menu_sb_a ul li {margin:-1px 0 0 0;}
.menu_sb_a ul li a {border-radius: 0;}
.menu_sb_a ul li:last-child a{border-radius: 0 0 5px 5px;}
.menu_sb_a ul li a:after{content: ' '; display: none; width: 16px; height: 39px; background: url('arr1.png') no-repeat 0 0; position:absolute; top: 0; left: 100%;}
.menu_sb_a ul li.active a{}
.menu_sb_a ul li.active a:after{display: block; }
.menu_sb_a ul li:first-child a{border-radius: 0;}
.menu_sb_a ul li:last-child.active a{border-radius: 0;}
/*----Меню слева_end----*/


/*----Таблица списка итемов_start----*/
.tbl_a, .panel {border:1px solid #e5e5e5; border-radius: 6px 6px 5px 5px; position:relative; line-height: 1.3;}
.tbl_a .head,.panel-default .table-heading{ background: #f2f2f2; padding: 8px; font-size: 17px; position:relative; font-weight: 500;}

.tbl_a table{border-collapse:collapse; width: 100%; }
.tbl_a table th, table th{vertical-align:top;   font-weight: 500;}
.tbl_a table th{ border-bottom: 2px solid #e5e5e5; padding: 12px 0 12px 20px;}

.tbl_a table td{vertical-align: top; padding: 12px 0 12px 20px; border-bottom:1px solid #e5e5e5; }
.tbl_a table td.editable {vertical-align: top; padding: 8px 0 0 16px; border-bottom:1px solid #e5e5e5; }
.tbl_a table .disabled td{color: #aeaeae; }
.tbl_a table .disabled td a{color: #aeaeae; }
.tbl_a table tr:nth-child(even) td, table.tleads tr:nth-child(even) td {background: #fafafa;}
.tbl_a table tr:hover, table.tleads tr:hover td{ background-color: #f5f5f5;}



table td{font-size: 13px;}

.tbl_a table tbody tr:last-child td {border-bottom: 0;}
.tbl_a table tbody tr:last-child td:first-child {border-radius: 0 0 0 5px;}
.tbl_a table tbody tr:last-child td:last-child {border-radius: 0 0 5px 0;}

.tbl_a table td.tools, .edit_delete{width: 41px; padding-right: 10px; margin:0 0 0 0; font-size: 0; white-space:nowrap;}
.tbl_a table td.tools .icon, table .icon {margin:0 10px 0 0;}
.tbl_a table td.tools .icon:hover {opacity: 0.5;}
.tbl_a table td.tools .icon.disabled:hover {opacity: 1;}
.tbl_a table .actual {text-align: center; }

.items_box {margin:0 0 40px 0;}
.items_box_head {margin:0 0 16px 0;}
.items_box_head:after {content: ' '; clear:both; display: block; width: 0; height: 0; overflow: hidden; font-size: 0;}
/*.items_box_head .left {float:left;}*/
/*.items_box_head .right {float:right;}*/

.items_box_cont{ }
.items_box_cont .message{margin:0 0 0 15px;}
.items_box_cont .message .icon_birthday{margin:0 0 0 8px;}

.items_box_param {height: 24px; display: block; margin:0 0 16px 0;}
.items_box_param label{float: left; margin: 3px 5px;}
.items_box_head label.first{ margin-left: 30px;}
.items_box_head .inp_w{ width:105px; float: left; margin-right: 20px;}
/*.items_box .itemAdd_form{margin: 10px 0 0 0;}*/

/*.itemAdd_form{ margin: 10px 0 0 0; }*/
.itemAdd_form table{border-collapse:collapse; }
.itemAdd_form table td{vertical-align: middle; padding-right: 15px; white-space:nowrap;}
.itemAdd_form table td.caption, td label{font-weight: 500;}
.itemAdd_form .inp {width: 354px; }
.itemAdd_form .inp .txt, .search_area {width: 239px; float:left;}
.itemAdd_form .inp .sub {float:right;}
/*----Таблица списка_end----*/


/*----Элементы формы_start----*/
.txt,.form-control {height: 34px; padding: 0 10px 0 10px; background: #fff; border:1px solid #e5e5e5; border-top:1px solid #d9d9d9; box-shadow: inset 0 2px 0 #f2f2f2; border-radius: 5px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.slim_txt {height: 24px; font-size: 13px;}
.inp_w .txt, .inp_w, .inp_w input{width: 100%; }

/*.inp_70 {float: left; width: 305px;}*/
/*.inp_70 input {width: 300px;}*/


.lbl{ padding: 6px 10px 6px 10px; border:1px solid #e5e5e5; border-radius: 5px; font: normal 14px 'Pragmatica', sans-serif; min-height: 20px;}

textarea.txt, #lead_first_comment {padding: 5px 10px 5px 10px; margin:0 0 0 0; vertical-align:top; resize: none; overflow:auto;}
.txtArea_1 {height: 80px; }
#lead_info.txt.alone{ height: 86px; vertical-align:top;}

.body.sb_left .box_wide {margin-left: -254px;}

.inp_btn, span.check_img {display: inline-block; background: url('pict0.png') no-repeat -87px 0; position:relative; cursor:pointer; overflow:hidden; vertical-align:top;}

.inp_btn.checkbox, span.check_img {width: 18px; height: 18px; background-position: -87px 0; }
.inp_btn.checkbox.active, span.check_img.checked {background-position:-87px -20px;}
.inp_btn.checkbox input {position:absolute; top: 0; left: -50px;}

.inp_btn.checkbox, span.check_img { background: url('pict01.png'); width: 18px; height: 18px; background-position: -87px 0; }


span.check_img{ text-align: center; }

.inp_btn.radio {width: 18px; height: 18px; background-position: -87px 0; }
.inp_btn.radio.active {background-position:-87px -20px;}
.inp_btn.radio input{position:absolute; top: 0; left: -50px;}


.inp {display: inline-block; background: url('pict01.png') no-repeat -87px 0; position:relative; cursor:pointer; overflow:hidden; vertical-align:top;}
.inp.radio {width: 18px; height: 18px; background-position: -193px 0; }
label.active .inp.radio {background-position:-193px -20px;}
.inp.radio input{position:absolute; top: 0; left: -50px;}

label.inp_btn_label {padding: 0 0 0 25px; position:relative;}
label.inp_btn_label .inp_btn {position:absolute; top: -1px; left: 0;}

.select_custom {position:relative;}
.select_custom select{width: 50%; position:absolute; top: 0; left: -20000px; opacity: 0; filter: alpha(opacity=0); }

.select_custom .sel_val, .sel_val
{background: #fff; height: 32px; padding: 0 35px 0 10px; border:1px solid #e5e5e5; border-top:1px solid #d9d9d9; box-shadow: inset 0 2px 0 #f2f2f2; border-radius: 5px; 
	position:relative; cursor:pointer; z-index: 1; line-height: 1; 
	appearance:none !important;
	-webkit-appearance:none;
    -moz-appearance:none;
    outline:none;}


@media screen and (-webkit-min-device-pixel-ratio:0) { select {padding-right:18px} }

label.combobox {position:relative}

label.select_custom_ext:after {	background-position: -18px -9px; }

#p_search select.sel_val{ width: 240px;}

.select_custom .sel_val .sv_text{display: block; height: 32px; line-height: 32px; font-size: 14px; color: #000000; white-space:nowrap; overflow: hidden; zoom: 1; }

.select_custom .down_list{display: none; position:absolute; top: 34px; left: 0; width: 100%; }
.select_custom .down_list .dl_i{max-height: 300px; overflow:auto; background: #fff; border-radius: 5px; box-shadow: 0 0 10px rgba(0,0,0,0.2); position:relative;}
.select_custom .down_list ul{margin:0 0 0 0; padding: 0 0 0 0; list-style:none; line-height: 1.3; }
.select_custom .down_list ul li{margin:0 0 0 0; padding: 6px 10px 6px 10px; cursor:pointer; position:relative; font-size: 14px; color: #000; background:none;}
.select_custom .down_list ul li:hover,
.select_custom .down_list ul li.checked{background: #f2f2f2;}

.txt_tags {position:relative;}
.txt_tags .txt{height: auto; min-height: 34px; padding: 0 0 0 0; overflow:hidden; cursor:pointer; position:relative; z-index: 1;}
.txt_tags .txt .placeholder{float:left; font-size: 14px; color: #aeaeae; position:absolute; top: 7px; left: 10px;}
.txt_tags .tags {float:left; padding: 4px 0 0 0; overflow:hidden; }
.txt_tags .tags .tag{margin:0 0 4px 4px; padding: 0 22px 0 8px; border:1px solid #e5e5e5; height: 22px; line-height: 22px; float:left; position:relative; border-radius: 4px;}
.txt_tags .tags .tag .btn_remove{background-position:-119px 0; width: 9px; height: 9px; position:absolute; top: 7px; right: 8px; cursor:pointer;}

.txt_tags .down_list{display: none; position:absolute; top: 100%; left: 0; width: 100%; }
.txt_tags .down_list .dl_i{max-height: 300px; overflow:auto; background: #fff; border-radius: 5px; box-shadow: 0 0 10px rgba(0,0,0,0.2); position:relative;}

.txt_tags .down_list ul{margin:0 0 0 0; padding: 0 0 0 0; list-style:none; line-height: 1.3; }
.txt_tags .down_list ul li{margin:0 0 0 0; padding: 6px 10px 6px 10px; cursor:pointer; position:relative; font-size: 14px; color: #000; background:none;}
.txt_tags .down_list ul li:hover{background: #f2f2f2;}

.txt_tags.noEmpty .placeholder{display: none; } 
.txt_tags.extend {z-index: 2;}
.txt_tags.extend .down_list {display: block; }

.jspPane{position: absolute; }
.jspVerticalBar{position: absolute; top: 0; right: 0; width: 10px; height: 100%; }
.jspHorizontalBar{position: absolute; bottom: 0; left: 0; width: 100%; height: 6px; }
.jspCap{display: none; }
.jspHorizontalBar .jspCap{float: left; }
.jspTrack{position: relative; }
.jspDrag{background: #cccccc; width: 10px; position: relative; top: 0; left: 0; cursor: pointer; border-radius: 5px;}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag{float: left; height: 100%; top: 1px; left: 0;}
.jspArrow{background: #50506d; text-indent: -20000px; display: block; cursor: pointer; padding: 0; margin: 0; }
.jspArrow.jspDisabled{cursor: default; background: #80808d; }
.jspVerticalBar .jspArrow{height: 16px; }
.jspHorizontalBar .jspArrow{width: 16px; float: left; height: 100%; }
.jspVerticalBar .jspArrow:focus{outline: none; }
.jspCorner{background: #eeeef4; float: left; height: 100%; }

.ui-datepicker {background: url('bg0_1.png') repeat; padding: 26px 22px 20px 22px; margin: -50px 0 0 108px; border-radius: 5px; box-shadow: 0 0 20px rgba(0,0,0,0.2); position:relative; line-height: 1; font-size: 14px;}
.ui-datepicker:after {content: ' '; display: block; width: 27px; height: 60px; background: url('m2.png') no-repeat 0 0; position:absolute; left: -27px; top: 0;}
.ui-datepicker .ui-datepicker-header{text-align: center; position:relative; margin:0 0 18px 0; font-weight: 500;}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{ font-size: 0; display: block; width: 7px; height: 12px; 
                                    background: url('arr1.png') no-repeat; position:absolute; top: 0; cursor:pointer;}
.ui-datepicker .ui-datepicker-prev{background-position:-32px 0; left: 7px;}
.ui-datepicker .ui-datepicker-next{background-position:-41px 0; right: 7px;}
.ui-datepicker .ui-datepicker-calendar{border-collapse:collapse; }
.ui-datepicker .ui-datepicker-calendar th{text-align: center; vertical-align:top; padding: 0 0 5px 0; font-weight: 500;}
.ui-datepicker .ui-datepicker-calendar td{text-align: center; vertical-align:top; padding:0;}
.ui-datepicker .ui-datepicker-calendar .ui-state-default{display: block; width: 32px; height: 29px; line-height:29px; color: #000; text-decoration:none; border-radius: 5px; position:relative;}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today .ui-state-default{border:1px solid #ff8411; width: 30px; height: 27px; line-height: 27px;}

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-current-day .ui-state-default{background: #ff8411; border: 0; color: #fff; }
.ui-datepicker .ui-datepicker-calendar .ui-state-default:hover{background: #ff8411; opacity: 0.8; color: white; }
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-other-month .ui-state-default{color: #7d7d7d; }


.ui-datepicker.ui-position-top {margin-top: 50px;}
.ui-datepicker.ui-position-top:after {top: auto; bottom: 0;}
/*----Элементы формы_end----*/

.statuses_box {}
.statuses_box .items_box_cont table .actual {width: 180px; }

.providers_box .items_box_head {}
.providers_box .items_box_head .select_custom{float:left; width: 238px; margin:0 10px 0 0;}

.users_box {}
.users_box .items_box_cont table td {vertical-align:middle;}
.users_box .items_box_cont table .pic {width: 50px; padding-right: 0; padding-top: 6px; padding-bottom:6px;}
.users_box .items_box_cont table .pic img {width: 50px; vertical-align:top; border-radius: 50%;}
.users_box .items_box_cont table .cont {}
.users_box .items_box_cont table .cont .name{}
.users_box .items_box_cont table .cont .info {}
.users_box .items_box_cont table .cont .info a{color: #7d7d7d; }
.users_box .items_box_cont table .cont .info a:hover{color: #000; }
.users_box .items_box_cont table .birthday {width: 200px; }
.users_box .items_box_cont table .state {width: 70px; text-align: center; }
.users_box .items_box_cont table .admin {width: 70px; text-align: center; }

/*td.state,td.center{  text-align: center !important;}*/
td.state{  text-align: center;}
.sum_mask{ text-align: right; }
input[type='number']{padding-right: 0;}
input[type='number']::-webkit-inner-spin-button {
 /*   -webkit-appearance: none;*/
    margin: 0 0 0 5px;
    
}

.menu_c {}
.menu_c ul {margin:0 0 0 -10px; padding: 0 0 0 0; list-style:none; overflow:hidden;}
.menu_c ul li{margin:0 0 0 10px; padding: 0 0 0 0; background:none; float:left;}
.menu_c ul li a, .subnav span, .submenu ul li, .items_box_head ul li a{display: inline-block; 
  border:1px solid #e5e5e5; font-size: 13px; padding: 5px 12px; color: #000000; position:relative; text-decoration:none; 
  border-radius: 5px;
  line-height: 1;}

.menu_c ul li a:hover,
.menu_c ul li.active a,
.subnav span.active, .submenu ul li.active, .submenu ul li:hover, .items_box_head ul li a:hover, .items_box_head ul li.active a,
.subnav span:hover{background: #6acc00; border: 1px solid #6acc00; color: #fff !important; }
.subnav span:not(.li-right), .submenu ul li, .items_box_head ul li{margin:0 10px 0 0; float: left;}

.submenu ul li:hover a, .submenu ul li.active a, .items_box_head ul li.active a, .items_box_head ul li:hover a{color: #fff !important; cursor: pointer;}

.splink{ margin-right: 10px;}
.splink{ display: inline-block; border:1px solid #e5e5e5; padding: 7px 10px 7px 10px; color: #000000; position:relative; text-decoration:none; border-radius: 5px; line-height: 1;}
.splink:hover{background: #6acc00; border-color:#6acc00;}

/*.only_actual.active,.only_actual:hover{ background:#428bca !important;   border-color: #428bca !important;}*/

.left,.panel-left {float: left;}
.right, .panel-right{float: right;}
 
.history_box {}
.history_box .items_box_head{}
.history_box .items_box_head .panel-left{width: 600px;}
.history_box .items_box_head .panel-right{width: 460px; }
.history_box .items_box_head .panel-right .txt {width: 239px; float:left;}
.history_box .items_box_head .panel-right .btn_action {float:right;}
.history_box .items_box_cont{}
.history_box .items_box_cont .state{width: 180px; }
.history_box .items_box_cont .state_date{width: 100px; }
.history_box .items_box_cont .fio{width: 140px;}
.history_box .items_box_cont .phone{width: 120px;}
.history_box .items_box_cont .query_info{}
.history_box .items_box_cont .metr{width: 60px;}
.history_box .items_box_cont .date{width: 80px;}

.historyChange_list_a .item  ul li {margin-top: 2px;}
.historyChange_list_a .item > ul > li {margin-top: 12px;}


.hl_a {font-size: 17px; color: #000; line-height: 1.2; margin:0 0 14px 0; font-weight: 500;}
.historyChange_list_a .head {font-size: 15px; color: #888; line-height: 1.2; margin:0 0 14px 0; font-weight: 500;     background: #f7f7f7 ; padding: 5px;}
.hl_a.bd {border-bottom: 2px solid #e5e5e5; padding: 0 0 16px 0; margin:0 0 30px 0;}

.box_wrap {}
.box_wrap:after {content: ' '; clear:both; display: block; width: 0; height: 0; overflow: hidden; font-size: 0;}
/*.box_wrap .panel-left{float:left;}*/
/*.box_wrap .right{float:right;}*/

.box_wrap_1 .panel-left{width: 584px; }
.box_wrap_1 .panel-left2{width: 490px; }
.box_wrap_1 .panel-right{width: 584px; }

.box_cent {position:relative;}

.form_c {}
table.tbl_fc{border-collapse:collapse; width: 100%; }
table.tbl_fc td{vertical-align:top; padding: 0 0 10px 0; }
table.tbl_fc td.last_td{padding: 0 !important; }

table.tbl_fc td.caption{width: 115px; padding-right: 15px; padding-top: 7px; text-align:right; font-weight: 500; }
table.tbl_fc td.caption2{width: 235px; padding-right: 15px; padding-top: 0px; text-align:right; font-weight: 500; }



td.caption3{ font-weight: 500; }
td.caption3 span{ float: left; padding-top: 8px; padding-right: 15px;}
td.caption3 .chosen-container span, td.caption3 .chosen-container li { font-weight: normal;}
td.caption3 .chosen-container span {padding-top: 0px;}
.inp2{ width: 245px; float: left;}  
.btn_reset {margin-right: 10px;}

table.tbl_fc_1 td.caption{width: 160px; }
table.tbl_fc_1 td.caption_sm {width: 70px;}

th.center,td.center {text-align:center;}

.va_bottom{vertical-align: bottom !important; }

.auth_form {width: 425px; margin:0 auto; }
.auth_form table.tbl_fc {}
.auth_form table.tbl_fc td.caption{width: 60px; }

.auth_form .sub,.auth_form .btn {margin:0 20px 0 0;}

.auth_form .registr_link {position:relative; top: 1px;}
.auth_form .rememer_me {float:left;}
.auth_form .forgot_pass {float:right; font-size: 12px; position:relative; top: 1px; font-style: italic;}

.comments_box { height: 100%}
.comments_box .hl{margin: 0 0 15px 0; font-weight: 500;   border-bottom: 1px solid #e5e5e5; padding-bottom: 5px;}
.comments_box .hl .icon{margin:0 0 0 10px;}
.comments_box .box_i {border:1px solid #e5e5e5; padding: 16px; border-radius: 5px;}
.comments_box .commentAdd_form {margin: 12px 0 0 0; overflow:hidden;}
.comments_box .commentAdd_form .txt {float:left; width: 430px; }
.comments_box .commentAdd_form .sub {float:right;}

.jspContainer{ position: relative;  width: 550px; overflow-y: scroll; }
.jsph  { height: 347px; }
.jsph2 { height: 390px; }
.jsph21{ height: 444px; }
.jsph1 { height: 400px; }

.comments_list_a {}
.comments_list_a .item{padding: 14px 0 0 0; margin: 14px 0 0 64px; border-top:1px solid #e5e5e5; line-height:1.25;}
.comments_list_a .item:first-child{border: 0; padding-top: 0; margin-top: 0;}
.comments_list_a .item:after {content: ' '; clear:both; display: block; width: 0; height: 0; overflow: hidden; font-size: 0;}
.comments_list_a .item .pic{float:left; width: 50px; margin:0 0 0 -64px;}
.comments_list_a .item .pic img{vertical-align:top; width: 50px; border-radius: 50%;}
.comments_list_a .item .cont{}
.comments_list_a .item .cont .head{padding: 6px 0 0 0; margin:0 0 12px 0; position:relative;}
.comments_list_a .item .cont .head .info{ font-size: 12px; color: #aaa; }
.comments_list_a .item .cont .head .info a{color: #7d7d7d; }
.comments_list_a .item .cont .head .info a:hover{color: #000; }
.comments_list_a .item .cont .name{}
.comments_list_a .item .cont .date{position:absolute; top: 10px; right: 0; font-size: 12px; color: #aeaeae; }
.comments_list_a .item .cont .btn_remove{margin:0 0 0 10px;}
.comments_list_a .item .cont .text{}

.historyChange_list_a {}
.historyChange_list_a .item{margin:0 0 15px 0; font-size: 13px;}
.historyChange_list_a .item .head{margin:0 0 2px 0;}
.historyChange_list_a .item .head .date{color: #aeaeae; }
.historyChange_list_a .item .cont{padding: 0 0 0 12px; margin:0 0 0 20px; background: url('m1.png') no-repeat 0 6px; }

.files_list_a {}
.files_list_a .item{border-top:1px solid #e5e5e5; padding: 7px 0 0 0; margin: 7px 0 0 0; position:relative; }
.files_list_a .item:first-child {margin-top: 0; border: 0; }
.files_list_a .item .fname {width: 93%;}
.files_list_a .item:after {content: ' '; clear:both; display: block; width: 0; height: 0; overflow: hidden; font-size: 0;}
.files_list_a .item a{text-decoration:underline; }
.files_list_a .item a:hover{text-decoration:none;}
.files_list_a .item .tools{position:absolute; top: 10px; right: 0; font-size: 0;}
.files_list_a .item .tools .icon {margin:0 0 0 10px;}

.files_box {}
.files_box .file_inp{margin:0 0 8px 0;}
.files_box .files_list_a{}

.file_inp {overflow:hidden; position:relative;}
.file_inp .btn_add {}
.btn_add .pict{display: inline-block; height: 14px; margin:0 11px 0 0;}
.btn_add .pict .icon{}
.file_inp input{position:absolute; top: 0; left: -1000px;}

.clear {clear: both;}
.clearfix {zoom: 1}
.clearfix:after {content: ' '; clear:both; display: block; width: 0; height: 0; overflow: hidden; font-size: 0;}

.empty_f {height: 100px;}