.ui-tabs { position: relative; padding: .2em;}
// .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {    border-top-left-radius: 6px;}
.ui-widget-content {    color: #222222;}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: text;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor { float: left; padding: .5em 1em; text-decoration: none;}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px .2em 0 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {float: left; padding: .5em 1em; text-decoration: none;}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { color: #212121;}

//.ui-state-default, .ui-widget-content .ui-state-default, .tabs>.ui-widget-header>.ui-state-default{
.ui-widget-header .ui-state-default{
    background: #e6e6e6; //url(/assets/jquery-ui/ui-bg_glass_75_e6e6e6_1x400-74e4fbd3fcc6242de3a262119f48fa0f.png) 50% 50% repeat-x;
    color: #555555;
}
.ui-tabs-active,.ui-tabs-active a, .ui-widget-header .ui-state-hover,.ui-widget-header .ui-state-hover a{
    //background: #ff8411; color: white; 
    background: #6acc00; color: white;
    // border-top-left-radius: 8px;
}

.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3;  text-decoration: none; font-size: 100%;  list-style: none;}


//.ui-widget {     font-size: 1.1em;}

#tabs th{border: 0 !important;}
.ptab {height: 400px; }
.ptab .box_wrap {margin-top: 60px;}