.timepicker {
    background: asset-url('ico-clock.png') 90% 8px no-repeat;
    float: left;
    width: 80px !important;
    cursor: pointer;
}

.time_separator{ padding: 7px; float: left; display: inline-block; width: 14px; text-align: center; color: #737373; }

.datepicker { background: asset-url('ico-date.png') 95% 8px no-repeat; cursor: pointer;}
.editable input[type="text"].datepicker { background: asset-url('ico-date.png') 95% 5px no-repeat; cursor: pointer; }
.inp_w .datepicker{ background: asset-url('ico-date.png') 93% 8px no-repeat; }
.inp_w .sum_mask { background: asset-url('rub.png') 98% 8px no-repeat; padding-right: 22px; }
.inp_w .float_mask { background: asset-url('m2.png') 98% 8px no-repeat; padding-right: 24px; }

.sum_total { border-left: 5px solid #ff8411;}
.sum_rest { border-left: 5px solid #6acc00; }
.sum_cost { border-left: 5px solid #009ddd; }

.tbl_fc_1 .inp_w .datepicker{ background: asset-url('ico-date.png') 98% 8px no-repeat; }

input[disabled].datepicker { background: asset-url('ico-date.png') 95% -27px no-repeat; cursor: pointer;}


.datepicker.slim_txt{ background: asset-url('ico-date.png') 94% 4px no-repeat; }

.caption_to{ width: 95px !important;}