// Place all the styles related to the WikiRecords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.folder {background: url('folder.png'); width: 32px; height: 32px;}
span.folder.opened {background: url('opened_folder.png');}
.td_folder {width: 40px;}

.wiki_name {font-size: 20px; padding-top: 3px;}
.wiki_descr {font-size: 17px; padding-top: 3px;}

.files_ul {list-style-image: url('file.png'); margin: 0; padding-left: 18px; }
.files_ul li {margin: 0;}

#wiki_record_description { height: 10em;}

.hidden {display: none;}

.wiki_name a{text-decoration: none;}