// Place all the styles related to the Work controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.grid_work_form {display: grid; grid-template-columns: 10px 130px 1fr 30px 120px 18px 190px; grid-gap: 10px;}
.grid_work_form .multiply, .grid_work_form .equal {background-position-y: 9px;}
.uom {padding-top: 9px;}