<div class="items_box_head">
<div class="panel-left">
<%= render_navigation(:level => 2) %>
</div>

<% if is_admin? %>
<%= link_to 'Новое знание', new_wiki_record_path, class: "btn_a btn-add btn_slim right" %>
<% end -%>

</div>