<div id="wiki_data">

<% if !@wiki_record.nil? %>
  
<% cat_name = @wiki_record.wiki_cat.try(:name) %>
<% cat_name = " / " + cat_name if !cat_name.nil? %>

<div class="hl hl_a bd"><%= [@wiki_record.name,cat_name].join %>  
  <%= link_to "", [:edit, @wiki_record], class: "icon icon_edit right" if is_manager? %>
</div>
    
  <div class="tinymce">
    <%= RedCloth.new(@wiki_record.description).to_html.html_safe %>
  </div>
  <ul class="files_ul">
        <% @wiki_record.attachments.order(:name).each do |file| %>
          <%= render "wiki_files/wiki_file", file: file %>
        <% end -%>
        </ul>
<% end %>

</div>