<div class="items_box_head">
<div class="panel-left">
	<div class="left">
		<%= render_navigation(:level => 2) %>
	</div>
	<div class="left index_filter"> 
		<%= chosen_src 'wiki_cat_id', @wiki_cats, params[:wiki_cat_id],{nil_value: 'Все категории'} %>
	</div>
</div>

<% if is_admin? %>
<%= link_to 'Новое знание', new_wiki_record_path, class: "btn_a btn-add btn_slim right" %>
<% end -%>

</div>