<% if @keyword.nil? && @parent_id != 0 %>
  $("#chitem_" + <%= @parent_id %>).html("<td></td><td><%= j render("wiki_records") %></td>");
<% else %>
  $("#wiki_panel").html("<td></td><td><%= j render("wiki_records") %></td>");
<% end %>

$("#wiki_data").html("<%= j render("wiki_data") %>");



