<% if first_table == false %>
</tbody></table></div>
<% end %>
<% first_table = false %>
<div class="panel panel-default">
  <div class="panel-heading table-heading head month"> <%= heading %></div>
  <table class="tleads ">
  <thead><tr>
      <th>Что нужно сделать?</th>
      <th width="60px" class="center">Выполнено</th>
      <th width="60px" class="center">Проверено</th>
      <th class="edit_delete"></th></tr>
  </thead>
  <tbody>

