<h2>Описание, выполнение и проверка разработок</h2>

                   


<%= form_tag develops_path, :method => 'get', :id => "develops_search" do %>
  <div class="input-group"> 
    <%= text_field_tag :search, params[:search], :class => "search_area" %>
   
  </div>
  <div id="develops_list"><%= render 'develops' %></div>
<% end %>


<br>

<%= link_to 'Добавить', new_develop_path, class: "btn btn-success" %>
