<tr><td width="30px"><a href="/static/tmp/Matrix-Krata-World-Map-World-Hi-Tech-768x1366.jpg" target="_blank"><span class="glyphicon glyphicon-download-alt"></span></a></td>
<td width="300px"> <a href="/static/tmp/Matrix-Krata-World-Map-World-Hi-Tech-768x1366.jpg" target="_blank"><%= params[:file].original_filename %></a> </td>
<td>
    <a><span class="glyphicon glyphicon-remove-circle"></span> </a>
</td>
</tr></div>
